.main-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
}

.sidebar {
  grid-row: 1 / 3; 
  grid-column: 1 / 2;
}

.navbar {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 20px;
  overflow-y: auto;
}