.detail-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #333; 
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content .icon-check {
  font-size: 1.5em;
  margin-right: 10px;
}

.header-content h2 {
  font-size: 1.1em;
  margin: 0;
  font-weight: 500;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-actions .icon-star,
.header-actions .icon-close {
  font-size: 1.4em;
  cursor: pointer;
}

.detail-body {
  padding: 16px;
  flex-grow: 1; 
  overflow-y: auto; 
  background-color: #252526;
}

.action-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border-radius: 6px;
  background-color: #333;
}

.action-item.spaced {
  margin-top: 10px;
  justify-content: space-between;
}

.action-item .icon {
  margin-right: 10px;
  font-size: 1.2em;
}

.action-item button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.9em;
  text-align: left;
  flex-grow: 1;
  cursor: pointer;
}

.action-item .icon-close-small {
  cursor: pointer;
  font-size: 1.1em;
}

.anotacoes {
  margin-top: 20px;
}

.anotacoes textarea {
  width: 93%;
  height: 80px;
  background-color: #333;
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  resize: vertical;
}

.anotacoes textarea:focus {
  outline: 1px solid #979CF9; 
}