<div class="detail-container">
  
  <header class="detail-header">
    <div class="header-content">
      <span class="icon-check">○</span>
      <h2>Informações da anotação</h2>
    </div>
    <div class="header-actions">
      <span class="icon-close" (click)="onClose()">X</span>
    </div>
  </header>

  <main class="detail-body">

    <div class="action-item spaced">
      <span class="icon">*</span>
      <button>Exportar</button>
    </div>

    <div class="anotacoes">
      <textarea placeholder="Adicionar anotação"></textarea>
    </div>

  </main>
</div>