<div class="detail-container">
  
  <header class="detail-header">
    <div class="header-content">
      <span class="icon-check">○</span>
      <h2>Informações da atividade</h2>
    </div>
    <div class="header-actions">
      <span class="icon-close" (click)="onClose()">X</span>
    </div>
  </header>

  <main class="detail-body">

    <div class="action-item spaced">
      <span class="icon">☼</span>
      <button>Adicionar ao meu dia</button>
    </div>

    <div class="action-item spaced">
      <span class="icon">📅</span>
      <button>Adicionar data de início</button>
    </div>

    <div class="action-item spaced">
      <span class="icon">📅</span>
      <button>Adicionar data de conclusão</button>
    </div>

    <div class="action-item spaced">
      <span class="icon">📊</span>
      <button>Status da atividade</button>
    </div>
    
    <div class="anotacoes">
      <textarea placeholder="Adicionar descrição"></textarea>
    </div>

    <div class="anotacoes">
      <textarea placeholder="Adicionar anotação"></textarea>
    </div>

  </main>
</div>