<div class="sidebar-container">
  <div class="logo">
    <img 
      src="assets/images/logo-roxa.png" 
      alt="Logo Study Flow" 
      class="logo-img">
    
    <h2>Study Flow</h2>
  </div>
  <nav class="menu">
    <ul>
      <li class="menu-item active">
        <span class="icon">☰</span>
        <a routerLink="/app/atividades">Minhas atividades</a>
      </li>
      <li class="menu-item">
        <span class="icon">☰</span>
        <a routerLink="/app/anotacoes">Minhas anotações</a>
      </li>
      <li class="menu-item">
        <span class="icon">☰</span>
        <a href="#">Conteúdo</a>
      </li>
       </ul>
  </nav>
</div>